extends layout2

block content
  
  section.row.graph
    p(class='col-lg-2 sentence right') we collected information about several kind of resources
    for x,i in resourcesCount
      section(class='square col-lg-2')
       a(href='./resources-type#'+ x.TYPE.replace(" ", "-") +'-div', target="_blank", class='type', style="text-decoration: none")
        h2=x.NUMBER
        p=x.TYPE
 
  section.row.graph.back-img
    p(class='col-lg-5 sentence right') which deal with symbolic notated music (sheets), descriptive metadata (e.g. artists, genres, cataloguing information), and audio files
    for y,j in resourcesSubject
      section(class='square pink col-lg-2')
       a(href='./resources-subject#'+ y.TYPE +'-div', target="_blank", class='type-white', style="text-decoration: none")
        h2=y.NUMBER
        p=y.TYPE
  
  section.row.graph
    canvas(id='audience', class="col-lg-6")
    script.
      var ctx = document.getElementById("audience");
      var myChart = new Chart(ctx, {
      type: 'bar',
      data: { 
        labels:[#{audienceOnly}],
        datasets: [{
            label: 'resources',
            data:[#{countAudienceOnly}],
            backgroundColor: [
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)'
            ],
            borderColor: [
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)',
                'rgba(222,222,224, 1)',
                'rgba(204,142,164,1)'
            ],
            borderWidth: 1 }] },
            options: {
            scales: {
            yAxes: [{ ticks: { beginAtZero:true } }]
            } }
            }); 
    p(class='col-lg-3 sentence left') we mainly relied on resources realized by researchers and targeted to researchers, but we also found other target audiences
    
  section.row.graph
    p(class='col-lg-3 sentence right') the majority of resources offer digitizations of scores and lyrics, followed by audio files and structured data, which are published in several formats    
    canvas(id='format', class="col-lg-7")
    script.
      var doughnut = document.getElementById("format");
      var myChart = new Chart(doughnut, {
      type: 'doughnut',
      data: { 
        labels:[#{formatOnly}],
        datasets: [{
            label: 'resources',
            data:[#{countFormatOnly}],
            backgroundColor: [
                'rgba(159,32,76, 1)',
                'rgba(197,68,113,1)',
                'rgba(204,102,138, 1)',
                'rgba(204,142,164,1)',
                'rgba(152,152,154, 1)',
                'rgba(181,181,184,1)',
                'rgba(222,222,224, 1)',
                'rgba(15,18,136,0.3)',
                'rgba(15,18,136, 0.7)',
                'rgba(15,18,136,1)' ]
                }] 
            },
      options: {}
      });
   

  section.row.graph
    p(class='col-lg-8 sentence') the scale of aggregators of resources (such as catalogues, digital libraries, datasets, repositories, and digital editions) may vary significantly
    canvas(id='scale', class="col-lg-12 col-centered")
    script.
      var polar = document.getElementById("scale");
      var myChart = new Chart(polar, {
      type: 'polarArea',
      data: { 
        labels:[!{scaleOnly}],
        datasets: [{
            label: 'resources',
            data:[#{countScaleOnly}],
            backgroundColor: [
                'rgba(159,32,76, 1)',
                'rgba(197,68,113,1)',
                'rgba(204,102,138, 1)',
                'rgba(204,142,164,1)',
                'rgba(152,152,154, 1)',
                'rgba(181,181,184,1)',
                'rgba(222,222,224, 1)',
                'rgba(15,18,136,0.3)',
                'rgba(15,18,136, 0.7)',
                'rgba(15,18,136,1)' ]
                }] 
            },
      options: {}
      });
  
  section.row.graph.back-img.justify-content-center
    p(class='col-lg-4 sentence') aggregators gather items by genre, artist, period or country
    p.col-lg-8 
      for y,j in resourcesTopic
        span(class='bookmark')
          span=y.NUMBER
          i(class='fa fa-bookmark', aria-hidden='true')
          span=y.TOPIC 
  section.row.graph
    p(class='col-lg-3 sentence right') generally providers offer different kinds of information related to the musical resources they publish, from general descriptive metadata to more specific data on melody, harmony, rythm etc.
    canvas(id='feature', class="col-lg-8")
    script.
      var pie = document.getElementById("feature");
      var myChart = new Chart(pie, {
      type: 'pie',
      data: { 
        labels:[!{featureOnly}],
        datasets: [{
            label: 'resources',
            data:[#{countFeatureOnly}],
            backgroundColor: [
                'rgba(159,32,76, 1)',
                'rgba(197,68,113,1)',
                'rgba(204,102,138, 1)',
                'rgba(204,142,164,1)',
                'rgba(152,152,154, 1)',
                'rgba(181,181,184,1)',
                'rgba(222,222,224, 1)',
                'rgba(15,18,136,0.3)',
                'rgba(15,18,136, 0.7)',
                'rgba(15,18,136,1)' ]
                }] 
            },
      options: {}
      });
  
  section.row.graph
    section.row.graph 
    canvas(id='license', class="col-lg-7")
    script.
      var doughnut = document.getElementById("license");
      var myChart = new Chart(doughnut, {
      type: 'doughnut',
      data: { 
        labels:[#{licenseOnly}],
        datasets: [{
            label: 'resources',
            data:[#{countLicenseOnly}],
            backgroundColor: [
                'rgba(159,32,76, 1)',
                'rgba(197,68,113,1)',
                'rgba(204,102,138, 1)',
                'rgba(204,142,164,1)',
                'rgba(152,152,154, 1)',
                'rgba(181,181,184,1)',
                'rgba(222,222,224, 1)',
                'rgba(15,18,136,0.3)',
                'rgba(15,18,136, 0.7)',
                'rgba(15,18,136,1)',
                'rgba(6,8,88,1)',
                'rgba(46,6,88,1)',
                'rgba(72,9,137,1)',
                'rgba(100,18,184,1)',
                'rgba(153,74,234,1)',
                'rgba(184,135,234,1)' ]
                }] 
            },
      options: {}
      });
    p(class='col-lg-3 sentence left') in order to reuse such resources, several open licenses are available - even if most of the providers do not specify it clearly 