extends layout2

block content
  section.graph

    h3.col-lg-12.square.pink-border 
      a(class="info_title") resources by name
    section(id="toc_resources", class="col-lg-12")
      section(class='alphabet col-lg-12 row justify-content-center', id="alphabet")    
      for x,i in resourcesList
        section(class='list', class=x.NAME.charAt(0).toUpperCase())
          a(href='./resources/'+x.ID, target="_blank", class="group col-lg-12 resource_collapse row")= x.NAME

    h3.col-lg-12.square.pink-border
      a(class="info_title") resources by type
    section(id="toc_resources2", class="col-lg-12")
      section(class='alphabet col-lg-12 row justify-content-center')
        for x,i in resourcesCount
          span(id=x.TYPE.replace(" ", "-")+'-div')
            a(href=x.URI, data-toggle="collapse", data-target='#'+x.TYPE.replace(" ", "-"), aria-expanded="false", aria-controls=x.TYPE, class="resource_collapse row") #{x.TYPE}
      each x,i in resourcesCount
        section(id=x.TYPE.replace(" ", "-"), class='collapse col-lg-12')
            each y,i in resourcesList
              if( String(x.TYPE).valueOf() == String(y.TYPE).valueOf() )
                a(href='./resources/'+y.ID, target="_blank", class="group col-lg-12 resource_collapse row justify-content-center") #{y.NAME}


    h3.col-lg-12.square.pink-border
      a(class="info_title") resources by subject
    section(id="toc_resources3", class="col-lg-12")
      section(class='alphabet col-lg-12 row justify-content-center')
        for x in resourcesSubject
          span(id=x.TYPE+'-div')
            a(href=x.URI, data-toggle="collapse", data-target='#'+x.TYPE, aria-expanded="false", aria-controls=x.TYPE, class="resource_collapse row") #{x.TYPE}
      each x,i in resourcesSubject
        section(id=x.TYPE, class='collapse col-lg-12')
            each y,i in resourcesList
              if( String(x.TYPE).valueOf() == String(y.SUBJECT).valueOf() )
                a(href='./resources/'+y.ID, target="_blank", class="group col-lg-12 resource_collapse row justify-content-center") #{y.NAME}