extends layout2

block content
  section.graph

    section(id="toc_resources", class="col-lg-12")
      section(class='alphabet col-lg-12 row justify-content-center', id="alphabet")    
      for x,i in resourcesList
        section(class='list', class=x.NAME.charAt(0).toUpperCase())
          if x.TYPE === 'Dataset'
            i.fa.fa-bar-chart
          else if x.TYPE === 'Repository'
            i.fa.fa-database
          else if x.TYPE === 'Catalogue'
            i.fa.fa-book
          else if x.TYPE === 'Digital Library'
            i.fa.fa-archive
          else if x.TYPE === 'Digital edition'
            i.fa.fa-paragraph
          else if x.TYPE === 'Software'
            i.fa.fa-code-fork
          else if x.TYPE === 'Service'
            i.fa.fa-cog
          else if x.TYPE === 'Ontology'
            i.fa.fa-diamond
          else if x.TYPE === 'Format'
            i.fa.fa-code
          else if x.TYPE === 'Project'
            i.fa.fa-folder-open
          else if x.TYPE === 'Schema'
            i.fa.fa-list
          a(href='./resources/'+x.ID, target="_blank", class="group col-lg-10 resource_collapse row")= x.NAME
          p.col-lg-8= x.DESC.replace(/(([^\s]+\s\s*){10})(.*)/,"$1…")
          p.col-lg-12
            a(href='./resources/'+x.ID, target="_blank") [see more]
            a(href=x.URI, target="_blank")  [RDF]
            a(href=x.HOMEPAGE, target="_blank")  [homepage]

